
/*MAIN CARD*/
    .container {
        align-content: center;
        text-align: center;
    }

    .homelogo {
        margin-top: 25px;
    }

    body {
        background-image: url("/LibMSv1/resources/images/bgpic3.png");
        background-size: cover;
    }

    #head1 {
        text-align: center;
        align-content: center;
        color: antiquewhite;
    }
/*MAIN CARD*/
