body {

}




.createform {
    margin-left: 520px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.card-title {
    padding-bottom: 5px;
    font-size: 12px;
}

.form-group {
    padding-bottom: 5px;
}

.form-box {
    margin-top: 10px;
    margin-left: 550px;
    font-size: 12px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}


.send-button {
    margin-top: 3px;
}

input[type=submit] {
    padding: 16px;
    background-color: #0275d8;
    border-radius: 4px;
    border: 0;
    color: white;
}

.form-select {
    margin-bottom: 20px;

}