
.search {
    width: 500px;
    padding: 5px;
    font-size: 12px;
}

.search-bar {
    margin-bottom: 10px;
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding: 5px;
}

th, td {
    padding: 1px;
    border: 1px solid black;
    border: none;
}

th {
    background-color: #007bff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

